## Deliverable 2. Create a Customer Travel Destinations Map.

In [26]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [27]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Longyearbyen,SJ,78.2186,15.6401,-5.21,94,95,4.61,overcast clouds
1,1,Khatanga,RU,71.9667,102.5000,-20.58,94,66,12.71,broken clouds
2,2,Punta Arenas,CL,-53.1500,-70.9167,50.00,46,20,17.27,few clouds
3,3,Tiksi,RU,71.6872,128.8694,-3.69,92,73,8.16,broken clouds
4,4,Severo-Kurilsk,RU,50.6789,156.1250,31.80,82,34,13.96,scattered clouds

In [28]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 80

In [29]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) 
                                       & (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
17,17,Esmeraldas,BR,-19.7625,-44.3139,78.80,65,20,10.36,few clouds
18,18,Georgetown,MY,5.4112,100.3354,78.01,88,20,5.68,few clouds
19,19,Ipu,BR,-4.3222,-40.7108,73.80,91,30,4.45,scattered clouds
24,24,Lujan,AR,-34.5703,-59.1050,78.01,46,0,1.01,clear sky
31,31,Kapaa,US,22.0752,-159.3190,73.00,83,90,26.46,light rain
...,...,...,...,...,...,...,...,...,...,...
683,683,Pemangkat,ID,1.1667,108.9667,76.01,89,74,5.48,broken clouds
684,684,Punta Alta,AR,-38.8759,-62.0736,73.81,46,1,14.63,clear sky
688,688,Kabalo,CD,-6.0500,26.9167,70.30,96,95,4.14,light rain
690,690,Baculin,PH,7.4525,126.5842,79.50,81,25,5.08,light rain
695,695,Cockburn Town,TC,21.4612,-71.1419,77.00,69,40,17.27,scattered clouds

In [30]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                3
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [31]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
new_preferred_cities_df = preferred_cities_df.dropna()
new_preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
17,17,Esmeraldas,BR,-19.7625,-44.3139,78.80,65,20,10.36,few clouds
18,18,Georgetown,MY,5.4112,100.3354,78.01,88,20,5.68,few clouds
19,19,Ipu,BR,-4.3222,-40.7108,73.80,91,30,4.45,scattered clouds
24,24,Lujan,AR,-34.5703,-59.1050,78.01,46,0,1.01,clear sky
31,31,Kapaa,US,22.0752,-159.3190,73.00,83,90,26.46,light rain
...,...,...,...,...,...,...,...,...,...,...
683,683,Pemangkat,ID,1.1667,108.9667,76.01,89,74,5.48,broken clouds
684,684,Punta Alta,AR,-38.8759,-62.0736,73.81,46,1,14.63,clear sky
688,688,Kabalo,CD,-6.0500,26.9167,70.30,96,95,4.14,light rain
690,690,Baculin,PH,7.4525,126.5842,79.50,81,25,5.08,light rain
695,695,Cockburn Town,TC,21.4612,-71.1419,77.00,69,40,17.27,scattered clouds

In [32]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = new_preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
17,Esmeraldas,BR,78.80,few clouds,-19.7625,-44.3139,
18,Georgetown,MY,78.01,few clouds,5.4112,100.3354,
19,Ipu,BR,73.80,scattered clouds,-4.3222,-40.7108,
24,Lujan,AR,78.01,clear sky,-34.5703,-59.1050,
31,Kapaa,US,73.00,light rain,22.0752,-159.3190,
41,Pedernales,DO,77.07,few clouds,18.0384,-71.7440,
43,Huarmey,PE,74.61,clear sky,-10.0681,-78.1522,
47,Saint-Philippe,RE,75.20,clear sky,-21.3585,55.7679,
50,Minab,IR,71.60,dust,27.1467,57.0801,
51,Gorontalo,ID,76.68,scattered clouds,0.5412,123.0595,

In [33]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.") 
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
17,Esmeraldas,BR,78.80,few clouds,-19.7625,-44.3139,Forasteiro Pousada - Hotel
18,Georgetown,MY,78.01,few clouds,5.4112,100.3354,Cititel Penang
19,Ipu,BR,73.80,scattered clouds,-4.3222,-40.7108,Our hostel Corner
24,Lujan,AR,78.01,clear sky,-34.5703,-59.1050,Hotel Biarritz
31,Kapaa,US,73.00,light rain,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
41,Pedernales,DO,77.07,few clouds,18.0384,-71.7440,Hotel Costa Marina
43,Huarmey,PE,74.61,clear sky,-10.0681,-78.1522,Hotel Miramar
47,Saint-Philippe,RE,75.20,clear sky,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
50,Minab,IR,71.60,dust,27.1467,57.0801,Bam campground
51,Gorontalo,ID,76.68,scattered clouds,0.5412,123.0595,Maqna Hotel by Prasanthi

In [79]:
# 7. Drop the rows where there is no Hotel Name.
new_hotel_df = hotel_df[(hotel_df["Hotel Name"] != "")]
new_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
17,Esmeraldas,BR,78.80,few clouds,-19.7625,-44.3139,Forasteiro Pousada - Hotel
18,Georgetown,MY,78.01,few clouds,5.4112,100.3354,Cititel Penang
19,Ipu,BR,73.80,scattered clouds,-4.3222,-40.7108,Our hostel Corner
24,Lujan,AR,78.01,clear sky,-34.5703,-59.1050,Hotel Biarritz
31,Kapaa,US,73.00,light rain,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
41,Pedernales,DO,77.07,few clouds,18.0384,-71.7440,Hotel Costa Marina
43,Huarmey,PE,74.61,clear sky,-10.0681,-78.1522,Hotel Miramar
47,Saint-Philippe,RE,75.20,clear sky,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
50,Minab,IR,71.60,dust,27.1467,57.0801,Bam campground
51,Gorontalo,ID,76.68,scattered clouds,0.5412,123.0595,Maqna Hotel by Prasanthi

In [81]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
new_hotel_df.to_csv(output_data_file,index_label="City_ID")

In [82]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
<dd></dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in new_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = new_hotel_df[["Lat", "Lng"]]

In [83]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))